.nav-list {
	margin: 0;
	padding: 0;
	font-size: 0;
	background-color: orange;
}
.sub-nav-list {
	position: absolute;
	top: 62px;
	left: -40px;
	display: block;
	width: 156px;
}
.sub-sub-nav-list {
	position: absolute;
	top: 124px;
	left: 156px;
	display: block;
	width: 150px;
}
.sub-sub-sub-nav-list {
	position: absolute;
	top: 124px;
	left: 150px;
	display: block;
	width: 150px;
}
.list-item {
	list-style-type: none;
	display: inline-block;
	position: relative;
	background-color: orange;
	padding: 20px;
}
.sub-list-item {
	list-style-type: none;
	display: none;
	background-color: orange;
	padding: 20px;
}
.sub-sub-list-item {
	list-style-type: none;
	display: none;
	background-color: orange;
	padding: 20;
}
.sub-sub-sub-list-item {
	list-style-type: none;
	display: none;
	background-color: orange;
	padding: 20;
}
.link {
	font-size: 20px;
	color: white;
	text-decoration: none;
}
.list-item:hover .sub-list-item {
	display: block;
}
.list-item:hover {
	background-color: red;
}
.sub-list-item:hover .sub-sub-list-item {
	display: block;
}
.sub-list-item:hover {
	background-color: red;
}
.sub-sub-list-item:hover .sub-sub-sub-list-item {
	display: block;
}
.sub-sub-list-item:hover {
	background-color: red;
}
.sub-sub-sub-list-item:hover {
	background-color: red;
}